body , html {
    margin: 0;
    padding: 0;
    font-size: 14px;
    
}

body{

    background-color: #DADADA;
}

body, p {
        line-height: 1.4285em;
}


.mainBox {
    width: 85%;
    margin: auto;
    padding-top: 100px;
    background-color: #DADADA;
    

}
.mainLeft {
    margin: 0;
    width: 62%; 
    display: inline-block;
    padding: 1em;
}
.mainRight {
    margin: 0;
    width:  32%;
    display: block;
    float: right;
    padding: 1em;
}

.leftBox {

    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: .28571429rem;
    

}
.rightBox {

    background: #fff; 
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: .28571429rem;

}

.addBox {
    border-top: none;
    margin-top: 0;
    bottom: 0;
    margin-bottom: 0;
    top: 0;
    border-radius: .28571429rem .28571429rem 0 0;
}
.input {
    display: flex;
    font-size: 1em;
    position: relative;
    font-weight: 400;
    color: rgba(0,0,0,.87);
    
}

.buttonAdder {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: middle;
    margin: 0 .25em 0 0;
    padding: 1em 2em 1.15em;
    text-shadow: none;
    line-height: 1em;
    text-align: center;
    border-bottom-right-radius: .4em;
    border-top-right-radius: .4em;
    background-color: #2185D0;
    color: #FFF;
    text-shadow: none;
    background-image: none;
    
    
    
}

.buttonAdder:hover {
    background-color: #175d91;
}
 input{
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-right-color: transparent!important;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    line-height: 1.2142em;
    padding: .67861429em 1em;
    font-size: 1em;
    background: #FFF;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    width: 100%;
}
.addButton {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none; 
    vertical-align: middle;
        margin: 0 .25em 0 0;
    padding: 1em 1.1em 0.95em;
    text-shadow: none;
    line-height: 1em;
    text-align: center;
    border-radius: 10em;
    
    
}

img {
    max-width: 1em;
    max-height: 1em;
}
.addButton.plusButton {
    background-color: #DB2828;
     border-bottom: 3px solid;
    border-bottom-color: #af2020; 
}

.minusButton {
    background-color: #21BA45;
         border-bottom: 3px solid;
    border-bottom-color: #1a9437; 
} 
.blockM {
    padding: 1em;
    box-shadow: none;
    border: none;
    border-top: 1px solid rgba(34,36,38,.15);

}

div.lable {
    width: 25%!important;
    display: block;
    float: left;
}

.calcButtons {
    width: 37.5%!important;
    display: block;
    float: left;
    text-align: center;

}

.spareButton {
        width: 37.5%!important;
}

.numOfProd {
    padding: .5833em .833em;
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    margin: 0 .14285714em;
    background-color: #E8E8E8;
    vertical-align: middle;
    width: auto;
    text-align: center;
}

.plusButton {
    background-color: #DB2828;
    
}
 
.plusButton:hover {
    background-color: #af2020;
}

.BttnDiable {
    opacity: .45!important;
}
.minustButton {
    background-color: #16ab39;
}

.minustButton:hover {
    background-color: #11882d;
}

.buy-button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: middle;
    margin: 0 .25em 0 0;
    padding: 1em 2em 1.15em;
    text-shadow: none;
    line-height: 1em;
    text-align: center;
    border-radius: .4em;
    border-bottom: 3px solid;
    border-bottom-color: #797979; 
}

.buy-button:hover {
    background-color: #adadad;


}
.deleteBttn {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: middle;
    background-color: #DB2828;
    color: #FFF;
    text-shadow: none;
    background-image: none;
    padding: 1em;
    text-shadow: none;
    line-height: 1em;
    text-align: center;
    border-radius: .4em;
    border-bottom: 3px solid;
    border-bottom-color: #af2020; 


}


.deleteBttn:hover {
    background-color: #af2020;
}


.miniOrangeCircle {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.142857em;
    min-width: 2em;
    min-height: 2em;
    padding: .5em!important;
    text-align: center;
    font-size: .64285714rem;
    border-radius: 500em;
    background-color: #F2711C!important;
    border-color: #F2711C!important;
    color: #FFF!important;
}

.prodName {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.lable {
    text-align: bottom;
}

.spareButtons {
    text-align: right;
}