body, html {
    font-size: 14px;
}
body {
        background-color: #DADADA;
}
body, p {
    line-height: 1.4285em;
}
.MainBox {
    margin-left: auto!important;
    margin-right: auto!important;
    padding-top: 100px;
    box-sizing: inherit;
    display: flex;

}
.LeftBox {
    width: 68.75%!important;
    border 3px solid black;
    display: block;
    padding: 14px;
    background-color: rgb(255, 255, 255);

}
.RightBox {
    width: 31.25%!important;
    border 3px solid black;
    display: block;
    padding: 14px;
    background-color: rgb(255, 255, 255);
}